<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Gossip Girl</title>

    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
</head>
<body>

<header th:replace="~{header :: header-fragment}"></header>
<main>
    <section>
        <div class="title" th:text="${title}"></div>

        <div class="section-container" th:each="section : ${sections}">
            <div class="section-title" th:text="${sectionStat.count} + '. ' + ${section.title}"></div>
            <ul class="section-content">
                <li th:each="content : ${section.contents}" th:text="'- ' + ${content}"></li>
            </ul>
        </div>

    </section>
</main>

<script type="module" src="/static/js/sections.js"></script>
</body>
</html>